<div>
    <center>
        <div>
            <h1>HI<span style="font-size: smaller;">, {{user.username}}</span></h1>
        </div>
        Please click the button below to verify your account.
        <br>
        <br>
        <br>
        <a style="text-decoration: none;" href="https://{{domain}}/activate-user/{{uid}}/{{token}}"><button style="width: 100px; height: 50px; font-size: larger; border: none; border-radius: 5px; background: black; color: white; font-weight: bold;">Verify</button></a>
    </center>
</div>
