<div style="color: rgb(26, 25, 25);  font-size: 22px;font-weight: bold;  margin-bottom: 20px;">
    Taiyo : NewsLetter
  </div>
<div style="padding-bottom:10px; width: 570px; border: 2px none; border-radius: 5%; background-color: rgb(77, 77, 77);">
    <div style="display: flex; justify-content: center; align-items: center;">
      <div>
      <div style="display: flex; justify-content: center; align-items: center;">
        <img style="height: 200px; width: 570px; border-radius: 5%;"
        src="https://cdn.pixabay.com/photo/2014/11/30/14/11/cat-551554__340.jpg" alt="image">
      </div>
      <div style="color: #ffffff;padding-left: 40px; padding-right: 40px;">
        <h1>Hello</h1>
        <p> hi lets do it</p>
        </div>
      </div>
    </div>
</div>

